@model PrioQ.UI.Models.CommandViewModel
@{
    ViewBag.Title = "Enqueue Command";
}
<h2>Enqueue Command</h2>


<form asp-action="Enqueue" method="post">
    <div>
        <label>Priority:</label>
        <input type="number"
               name="Priority"
               value="" @Model.Priority />
    </div>
    <div>
        <label>Command:</label>
        <input type="text"
               name="CommandText"
               value="" @Model.CommandText />
    </div>
    <button type="submit">Enqueue Command</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
